.contact {
  background: linear-gradient(200deg, #000000, #181818);
}

.contact h1 {
  color: #dbb021;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
}

.contact h3 {
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  font-weight: normal;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.contact .container .left {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact form {
  display: flex;
  flex-direction: column;
  color: white;
}

.contact .container .center {
  display: flex;
  width: 10%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
  color: white;
}

.center .bar-top {
  width: 2px;
  height: 100px;
  background-color: #dbb021;
  margin-bottom: 20px;
}

.center .bar-bottom {
  width: 2px;
  height: 100px;
  background-color: #dbb021;
  margin-top: 20px;
}

.contact .container .right {
  display: flex;
  width: 45%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
