.contact {
  background: linear-gradient(200deg, #000000, #181818);
}

.contact h1 {
  color: #dbb021;
  font-size: 2em;
  text-align: center;
  padding: 1em 0;
}

.contact h3 {
  color: #ffffff;
  font-size: 1.1em;
  text-align: center;
  font-weight: normal;
}

.contact .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact .content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.contact form {
  display: flex;
  flex-direction: column;
  color: white;
  width: 50%;
  align-items: flex-start;
  margin-top: 20px;
}

.contact form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: white;
}

.contact form label {
  font-size: 1.1em;
  margin: 10px 0;
}

.contact form textarea {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px 0;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: white;
  resize: none;
  overflow: auto;
}

.contact form button {
  padding: 10px;
  margin: 5px 0 20px 0;
  border: none;
  border-radius: 5px;
  background-color: #dbb021;
  color: black;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s ease-in-out;
  font-size: 1.1em;
  width: 100%;
}

.contact form button:hover {
  background-color: #000000;
  color: #dbb021;
}

.contact .status {
  color: #dbb021;
  font-size: 1em;
  text-align: center;
  margin: 20px 0;
  font-weight: normal;
  width: 100%;
}