nav {
  width: 100%;
  background-color: rgb(22, 22, 22);
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}

.nav-items .active {
  display: block;
}

.nav-items {
  color: white;
  display: flex;
  width: 100%;
  font-size: larger;
  justify-content: space-around;
}

.nav-items a {
  color: white;
  text-decoration: none;
  margin: 0 30px;
  padding: 20px;
}

.nav-items a:hover {
  color: rgb(175, 175, 175);
  transition: 0.5s;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}