@media screen and (max-width: 770px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }

    .content {
        font-size: 14px;
    }


    .projects .card {
        margin: 0;
    }

    nav {
        height: 65px;
        background-color: rgba(22, 22, 22, 0.932);
    }

    .menu-toggle {
        display: block;
    }

    .nav-items {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: rgba(22, 22, 22, 0.932);
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        display: none;

    }

    .nav-items a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .nav-items.active {
        display: flex;
        transition: all 0.3s ease-in-out;
    }
}