@media screen and (max-width: 770px) {
    .container {
        width: 100%;
    }

    .content {
        display: flex;
        text-align: center;
        font-size: 14px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }


    .projects .card {
        margin: 0;
    }

    nav {
        height: 65px;
        background-color: rgba(22, 22, 22, 0.932);
    }

    .menu-toggle {
        display: block;
    }

    .nav-items {
        position: absolute;
        top: 65px;
        left: 0;
        width: 100%;
        background-color: rgba(22, 22, 22, 0.932);
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
        display: none;

    }

    .nav-items a {
        display: block;
        width: 100%;
        text-align: center;
        padding: 15px;
    }

    .nav-items.active {
        display: flex;
        transition: all 0.3s ease-in-out;
    }

    .logo {
        display: inline;
    }
}

@media screen and (max-width: 575px) {
    .about .content .left {
        width: 100%;
    }

    .about .content .right {
        width: 100%;
    }

    .about .content .right img {
        max-width: 200px;
    }

    .about .socials {
        margin-bottom: 30px;
    }
}

@media screen and (max-width: 390px) {
    .buttons {
        display: flex;
        flex-direction: column;
    }

    .hero .content button {
        margin: 0;
    }

    .hero .content a {
        text-align: center;
    }

}

@media screen and (max-width: 299px) {
    .projects img {
        width: 150px;
    }
}